
$color1: #ff9900;

#burger {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 300; /* Stay on top */
  cursor: pointer;
}


// burger background
.bLyUej {
  background-color: $color1;
}

// burger lines - nav closed ~~~~~~~~~~~~~~
.iYdley  {
  background-color: black;
}
.iYdley::before {
  background-color: black;
}
.iYdley::after {
  background-color: black;
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// burger lines - nav open (cross)
.dZZdsc {
  background-color: black;
}
.dZZdsc::before {
  background-color: black;
}
.dZZdsc::after {
  background-color: black;
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










.iPxwRk {
  display: inherit;
  height: 32px;
}




/* if you are above 1025px then this will happen */
@media (min-width: 1025px) {
  #burger {
  display: none;
  }
}
