
$color1: #ff9900;

#burger {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 300; /* Stay on top */

  // height: 2rem;;

  cursor: pointer;

}
//
// #menu-text {
//   font-size: 2rem;
//   margin: 0 2px 0 12px;
// }
//
// //* Hamburger Bar Color
span.sc-htpNat.sc-ckVGcZ.iYdley,
span.sc-htpNat.sc-ckVGcZ.iYdley::after,
span.sc-htpNat.sc-ckVGcZ.iYdley::before {
  background-color: black;
  padding-top: 0;
}
// .ecXcNV,
// .ecXcNV::after,
// .ecXcNV::before {
//   background-color: black;
// }
//
// .dxyFwX,
// .dxyFwX::after,
// .dxyFwX::before {
//   background-color: white;
//
// }
//
// button.sc-bdVaJa.bLyUej:focus {
//   outline: none;
// }
//
button#burger.sc-bdVaJa.dyZyNG:focus {
  outline: none;
}
button#burger.sc-bdVaJa.bLyUej {
  outline: none;

}

div.sc-bwzfXH.iPxwRk {
  padding-top: 20px;
}














/* if you are above 1025px then this will happen */
@media (min-width: 1025px) {
  #burger {
  display: none;
  }
}
