$color1: #ff9900;

#email-address {
  margin: 8px;
  font-size: 29px;
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
}

hr {
  border: 0;
  height: 1px;
  margin: 10px;
  background-color: $color1;
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Below 1024px */
@media (max-width: 1024px) {

}


// between 601px and 800px (ipads)
@media (max-width: 800px) {

}

// between 321px and 600px (mid - phones)
@media (max-width: 600px) {

}


// 320px and below (small - phones)
@media (max-width: 320px) {
  #email-address {
    margin: 6px;
    font-size: 21px;

  }

}
