$color1: #ff9900;

/* The sidebar menu */
.fixed-side-nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 320px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  // padding-top: 20px;
}

/* The navigation menu links */
.fixed-side-nav a {

}

/* When you mouse over the navigation links, change their color */
.fixed-side-nav a:hover {
  color: $color1;
}



#fixed-nav-logo {
  padding: 50px;
  background-color: $color1;
  max-width: 320px;
  margin-bottom: 20px;

}

.links-container a {
  padding: 6px 8px 6px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 27px;
  color: white;
  display: block;
}





// MEDIA QUERIES ////////////////////////////////////////////////////////////////////////////

/* if you are below 1024px then this will happen */
@media (max-width: 1024px) {
  .fixed-side-nav {
  display: none;
  }
}
