#footer {

  background-color: black;
  color: #606060;
  border-top: 8px solid #ff9900;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}



#footer p {
  font-size: 12px;
}
