$color1: #ff9900;

// .landingPage-container {
//   height: 100%;
// }



#landing-image {
  width: 100%;
  margin-bottom: -7px;
}






// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/* Below 1024px */
@media (max-width: 1024px) {

}


// between 601px and 800px (ipads)
@media (max-width: 800px) {

}

// between 321px and 600px (mid - phones)
@media (max-width: 600px) {

}


// 320px and below (small - phones)
@media (max-width: 320px) {


}
