$color1: #ff9900;

#landing-image {
  width: 100%;
  margin-bottom: -7px;
}


.venues-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;


}

.venues {
  padding: 10px;
  min-width: 100px;
  width: 150px;
  height: 150px;
  margin: 5px;
}
