$color1: #ff9900;


// block nav background
.nav-burger-background {

}

.navbar-background {
  background-color: $color1;
  text-align: center;
  height: 112px;
}

#mobile-navbar-logo {
  max-width: 185px;
  background-color: $color1;
  padding: 9px;
  top: 0px;
  z-index: 100;
}


/* if you are above 1025px then this will happen */
@media (min-width: 1025px) {
 .navbar-background {
   display: none;
 }
 #mobile-navbar-logo {
   display: none;
 }
}

// between 601px and 800px (ipads)
@media (max-width: 800px) {

}


// 600px and below (phones)
@media (max-width: 600px) {


}
