@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');


$color1: #ff9900;


* {
  font-family: 'Shrikhand', cursive;
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
}


main {
  margin-right: 320px; /* Same as the width of the sidebar */
}



section {
  padding: 4rem 0.8rem;
}










/* if you are below 1024px then this will happen */
@media (max-width: 1024px) {
  main {
    margin-right: 0; /* Same as the width of the sidebar */
  }
}
