
$color1: #ff9900;


@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



* {
  font-family: 'Shrikhand', sans-serif;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}



h1, h2, h3 {
  text-align: center;
}

h2 {
  padding: 10px 0;
  font-size: 27px;
  border-top: 4px solid $color1;
  border-bottom: 4px solid $color1;
  background-color: black;
  color: white;
}

ul li {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
}



p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: center;
}


main {
  margin-right: 320px; /* Same as the width of the sidebar */
  height: 100%;
}






.container {
  margin: 20px;

}





// MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`

/* Below 1024px */
@media (max-width: 1024px) {
  main {
    margin-right: 0; /* Same as the width of the sidebar */
  }
}



// between 601px and 800px (ipads)
@media (max-width: 800px) {

}

// between 321px and 600px (mid - phones)
@media (max-width: 600px) {
  h2 {
    font-size: 20px;
  }

  th, td, p {
    font-size: 15px;
  }

  ul li {
    font-size: 15px;
  }
}


// 320px and below (small - phones)
@media (max-width: 320px) {

  p {
    font-size: 15px;
  }

  h2 {
    font-size: 18px;
  }

  ul li {
    font-size: 15px;
  }

  th, td {
    font-size: 15px;
  }


}
